body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: #f2f2f2 !important;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #78ceea;
    color: #fff;
    position: relative;
}

#logo_title {
    max-width: 25%;
    height: auto;
    margin: 4px;
}