.open-btn {
    font-size: 30px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.profile-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

#profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profile-container:hover{
    transform: scale(1.1);
}

#sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px; /* Masquer le menu par défaut */
    background-color: rgba(76, 155, 201, 0.8); /* Bleu clair transparent */
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Optionnel : pour ajouter une ombre au menu */
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#sidebar ul li {
    padding: 8px 16px;
    text-align: left;
}

#sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

#sidebar ul li a:hover {
    background-color: #39a5ec; /* Couleur de survol du lien */
    padding: 5px;
    border-radius: 5px;
}

#sidebar .close-btn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    color: #fff;
    cursor: pointer;
    background: none; /* Pas de fond */
    border: none;     /* Pas de contour */
    padding: 0;       /* Supprime le padding par défaut */
}

section {
    padding: 20px;
    margin-top: 20px;
}


/* calendrier */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#calendar, #calendar_activitie {
    width: 100%;
    height: 72vh;
    box-sizing: border-box;
    margin-top: 50px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#calendar a, #calendar_activitie a {
    color: #000 !important;
    text-decoration: none !important;
}

/* Type évenements */

.fc-event.reunion {
    background-color: #ff9999;
    border-color: #ff9999;
}

.fc-event.entrainement {
    background-color: #99ff99;
    border-color: #99ff99;
}

.fc-event.competition {
    background-color: #9999ff;
    border-color: #9999ff;
}

@media (max-width: 600px) {
    .fc-header-toolbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .fc-header-toolbar .fc-title {
        order: -1;
        margin-bottom: 10px;
    }

    .fc-scroller {
        overflow-x: auto;
    }
}

#section_calendar, #activities, #messaging, #section_admin {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
}

#add_activity {
    position: absolute;
    top: 10px;
    right: 0;
    background-color: #4c98af;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-right: 40px;
}

#add_modal, #edit_activity, #edit_modal{
    background-color: #4c98af;
    border: none;
}

/* Legende (boutton flottant) */
#legend-toggle, #legend-toggle-activitie {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4c98af;
    color: white;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}

#legend-toggle:hover, #legend-toggle-activitie:hover {
    background-color: #0056b3;
}

#legend-toggle i, #legend-toggle-activitie i {
    font-size: 24px;
}

/* Style pour la légende des types d'événements */
#event-legend, #event-legend-activitie {
    position: fixed;
    bottom: 60px;
    right: 20px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 200px;
    z-index: 1000;
    display: none;
}

#event-legend h5, #event-legend-activitie h5 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

#event-legend ul, #event-legend-activitie ul {
    padding-left: 0;
    margin: 0;
}

#event-legend li, #event-legend-activitie li {
    list-style: none;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

#event-legend .badge, #event-legend-activitie .badge {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
}

/* Classes de couleur pour les badges des types d'événements */
.réunion {
    background-color: #dc3545;
}

.entrainement {
    background-color: #28a745;
}

.compétition {
    background-color: #007bff;
}

/* event select */
.selected-event {
    border: 2px solid #007bff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.selected-day {
    border: 2px solid #ff0000;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}

#activity-edit-description{
    height: 6rem;
}