<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Envoi mail</title>
    <link rel="stylesheet" href="../css/return.css">
</head>
<body>

<div class="container">
    <h1>Mail envoyé !</h1>
    <p>Votre mail à bien été envoyé !</p>
    <p>Votre demande sera prise en compte rapidement.</p>
    <button id="return-btn">Revenir à l'acceuil</button>
</div>

<script type="module" src="../js/email.js"></script>

</body>
</html>
