<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Test Envoie mail</title>
</head>
<body>
<main>
    <input type = "button" onClick="sendEmail()" value="Envoyer !"/>
</main>
</body>
<script src="https://smtpjs.com/v3/smtp.js"></script>
<script type="text/javascript">
    function sendEmail() {
        Email.send({
            Host: "smtp.gmail.com",
            Username: "noreplyplaisir2courir@gmail.com",
            Password: "obrs uhzj nygz ulsz",
            To: 'morfincamille@gamil.com',
            From: "noreplyplaisir2courir@gmail.com",
            Subject: "Ceci est l'objet",
            Body: "Et ceci est le message"
        }).then(
            message => alert(message)
        );
    }
</script>

</html>