<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Test Envoie mail</title>
</head>
<body>
<main>
    <input type = "button" onClick="sendEmail()" value="Envoyer !"/>
</main>
</body>
<script src="https://smtpjs.com/v3/smtp.js"></script>
<script type="text/javascript">
    function sendEmail() {
        Email.send({
            SecureToken : "ee759dea-d136-40ae-b656-f645e9170509",
            To : 'morfincamille@gmail.com',
            From : "noreplyplaisir2courir@gmail.com",
            Subject : "ceci est l'objet",
            Body : "Et ceci est le message"
        }).then(
            message => alert(message)
        );
    }
</script>

</html>